.contentLeft {
  float:left;
  width:82.08333333333333%;

}
.cAds_cS {
  table {
    input[type='text']{
      width:250px;
      height:29px;
      line-height:29px;
    }
    .cAdsBtn {
      text-indent:-999em;
      overflow:hidden;
      display:block;
      width:122px;
      height:82px;
      float:left;
      vertical-align: middle;
      margin-left:10px;
      &:first-child {
        margin-left:0;
      }
    }
    .cAdsBtn01 {
      background: url(../images/cAds/btn_cAds_01.png);
      &:hover {
        background: url(../images/cAds/btn_cAds_on_01.png);
      }
    }
    .cAdsBtn02 {
      background: url(../images/cAds/btn_cAds_02.png);
      &:hover {
        background: url(../images/cAds/btn_cAds_on_02.png);
      }
    }
    .cAdsBtn03 {
      background: url(../images/cAds/btn_cAds_03.png);
      &:hover {
        background: url(../images/cAds/btn_cAds_on_03.png);
      }
    }
    .cAdsBtn04 {
      background: url(../images/cAds/btn_cAds_04.png);
      &:hover {
        background: url(../images/cAds/btn_cAds_on_04.png);
      }
    }
    .cAdsBtn05 {
      background: url(../images/cAds/btn_cAds_05.png);
      &:hover {
        background: url(../images/cAds/btn_cAds_on_05.png);
      }
    }
    .adtypeTR {
      th {
        padding-top:16px;
        vertical-align:top;
        height:96px;
      }
    }
  }
}

.c_fbad {
  padding:20px;
  table {
    td {
      font-size:13px;
      font-family : '±º∏≤',Gulim,Arial;
      font-weight:bold;
      color : #777;
    }
    .pagepostTR {
      th {
        height:81px;
        button {
          margin-top:8px;
        }
      }
    }
    .ssTR {
      th {
        height:131px;
      }
      td {
        line-height:30px;
      }
    }
    .bidTR {
      th {
        height:147px;
      }
      td {
        line-height:24px;
        .BidInputText {
          width:233px;
          height:29px;
        }
      }
    }
  }
}

// CreateAds ªÁ¿ÃµÂπŸ
.sidePreview {
  width: 17.91666666666667%;
  float:right;
  .innerSidePreview {
    background:#f2f4f8;
    padding:15px 20px;
    border:1px solid #dbdbdb;
    overflow:hidden;
    letter-spacing:-1px;
    line-height:20px;
    h4 {
      color : #3b5998;
      font-size:16px;
      font-weight:bold;
      margin-top:32px;
      &:first-child {
        margin-top:0px;
      }
    }
    p {
      font-size:13px;
      font-family : '±º∏≤',Gulim,Arial;
      color : #777777;
      font-weight:bold;
    }
  }
}