.m_ct_layer {
  width: 615px;
  height: 650px;
  background: #f2f2f2;
  padding: 30px;
  position: relative;
  .layerTable {
    td {
      font-size: 13px;
      font-weight: normal;
      input[type="text"]{
        width: 250px;
      }
      textarea {
        width: 250px;
        height: 45px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 1px 1px 2px 1px #f3f3f3 inset;
        resize: none;
      }
    }
    .categoryTR {
      vertical-align: top;
      th {
        padding-top: 9px;
        height: 74px;
      }
      td {
        padding-top: 2px;
      }
    }
    .connectTR {
      vertical-align: top;
      th {
        height:88px;
      }
      td {
        line-height:22px;
      }
    }
    .relationTR {
      th {
        height:54px;
      }
      td {
        line-height:22px;
        label {
          margin-left:25px;
          &:first-child {
            margin-left: 0;
          }
        }
        input[type="checkbox"]{
          margin-right: 7px;
        }
      }
    }
    .ageTR {
      td {
        input {
          width:104px;
        }
      }
    }
  }
}



.creTarget {
  margin:0px auto;
  .list__create {
    &:after {
      clear:both;content:'';display:block;
    }
    dt {
      float:left;
      width:152px;
      padding-top:7px;
      font-family: Arial, Sans-serif, "굴림", Gulim;
      font-size: 16px;
      color: #3b5998;
      font-weight: bold;
    }
    dd {
      float:left;
      width:423px;
      font-size: 13px;
      font-weight:bold;
      color:#777;      
      cursor:pointer;
      &.emspace {
        margin:10px 0;
      }
    }
  }
}
