.view-table {
	width : 100%;
	table-layout:fixed;
	word-break:break-all;	
	th {
		color : #fff;
		text-align : center;
		font-weight:bold;
		height:34px;
		background: url(../images/common/table_bg_sep.png) no-repeat left bottom #7b7977;
		&:first-child {
			background :#7b7977;
		}
	}
	td {
		border-bottom:1px solid #c1c1c1;
		font-size:12px;
		
		color : #777;
		text-align:center;
		height:33px;
		.view-table-link {
			color : gray;
			font-weight:bold;
			&:hover {
				text-decoration : underline;
			}
		}
		&.tdIndex2 {
			text-align:left;
			padding-left:10px;
		}
		&.details {
			padding:5px 0 5px 10px;
			text-align:left;
		}
		.count_num {
			font-size:22px;
			font-weight:bold;
			color : #777;
		}
	}
	tbody {
		tr {
			&:hover {				
				background : (#cbd0d3 * 1.1) !important;				
			}
			&:first-child {
				td {border-top:1px solid #c1c1c1;}
			}
		}
	}
	tfoot {
		tr {
			background-color : #f9f9f9;
		}
	}
}


.charts-table {
	width : 100%;
	background : #f1f2f6;
	tr {
		&:first-child {
			th,td {
				border-top: 0 none;
			}
		}
	}
	th {
		height: 44px;
		font-size:16px;
		color : #3b5998;
		border : {
			top : 1px solid #fff;
			right : 1px solid #fff;
		}		
	}
	td {
		padding-left:12px;		
		color : #777777;
		font-size:13px;
		border-top:1px solid #fff;
	}
}

.ad-table {
	$border-color : #bcbcbc;
	margin-top:10px; // 테스트 목적으로 집어넣음
	table-layout:fixed;
	word-break : break-all;
	// ad-table에서 thead 스타일
	thead {
		th {
			height:124-13px;			
			vertical-align:top;
			border-bottom : 2px dashed $border-color;
			padding-left:4px;
			padding-bottom:13px;
			&:first-child {
				padding:0;
				vertical-align:middle;
				background: none;
				border-right: 2px dashed $border-color;
			}
			.ad-preview-wrap {
				box-sizing:border-box;
				width:100%;
				height:100%;
				padding:0 6px;
				background: #dfe3e7;
				overflow:auto;
				color : #565656;
				// 광고 미리보기 헤딩 
				.ad-preview-heading {
					position:relative;
					background:url(../images/table/bg-heading.png) repeat-x 0 100%;
					margin-top:3px;
					height:19px;
					button {
						position:absolute;
					}					
					.ad-placement {
						font-size:9px;						
						width:110px;
						margin: 0 auto;
						text-align:center;
						display: inline-block;
						overflow:hidden;
					}
				}
				// 광고 제목 스타일
				.ad-preview-title {
					text-align:left;
					font-size:10px;
					font-weight:bold;
				}
				// 광고 미리 보는 이미지 스타일
				.ad-preview-image {
					> div {
						position:relative;
						margin : 0 auto;
						border : 1px solid #cfd6dc;
					}
					.ad_thumbs {
						position:absolute;
						img {
							width:100%;
							height:100%;
						}
					}
					.rhs_ad {
						width:126px;
						height:55px;
						background : url(../images/table/ad-table/bg_rhs.png) no-repeat 0 0;
						.ad_thumbs {
							top:20px;
							left:6px;
							width : 37px;
							height:37px;
						}
					}
					.desktop_newspeed {
						width:126px;
						height:55px;
						background : url(../images/table/ad-table/bg_newspeed.png) no-repeat 0 0;
						.ad_thumbs {
							top: 20px;
							left:27px;
							width:25px;
							height:25px;
						}
					}
					.sponsor_story1 {
						width : 57px;
						height: 61px;
						background : url(../images/table/ad-table/bg_sponstory_1.png) no-repeat 0 0;
						.ad_thumbs {
							top:29px;
							left:5px;
							width:47px;
							height:17px;
						}
					}
					.page_ad {
						width:126px;
						height:55px;
						background: url(../images/table/ad-table/bg_pagead.png) no-repeat 0 0;
						.ad_thumbs {
							top:21px;
							left:4px;
							width:45px;
							height:26px;
						}
					}
					.page_ad_mobile {
						width : 126px;
						height:55px;
						background: url(../images/table/ad-table/bg_pagead.png) no-repeat 0 0;
						.ad_thumbs {
							top:20px;
							left:27px;
							width:25px;
							height:25px;
						}

					}
					.post_engage {
						width:76px;
						height:61px;
						background: url(../images/table/ad-table/bg_post_engage.png) no-repeat 0 0;
						.ad_thumbs{
							top:23px;
							left:21px;
							width:51px;
							height:34px;
						}
					}
					.post_ad {
						width:55px;
						height:61px;
						background: url(../images/table/ad-table/bg_post_ad.png) no-repeat 0 0; 
						.ad_thumbs{
							top:21px;
							left:4px;
							width:45px;
							height:26px;
						}
					}
				}

			}
			&.nth-child-2 {
				padding-left:11px;
			}
			&.last-child {
				padding-left:10px;
				border-bottom : 0 none;
				.ad-preview-wrap {
					background:none;			
					border : 1px dashed gray;
				}
			}
		}
	}
	// ad-table에서 tbody 스타일
	tbody {

		th , 
		td {
			vertical-align:top;
		}
		.last-child {
			th {
				padding: 0;
				vertical-align:middle;
				height:250px;
			}
		}

		th {
			padding-top:40px;
			border-right : 2px dashed $border-color;
			.target-group-info-wrap {
				position:relative;
				padding : 0 10px;				
				.background-wrap {
					position:relative;
					height:65px;
					margin-bottom:5px;
					background : url(../images/table/ico_man1.png) no-repeat 50% 8px;
					text-align:center;
					.btn-wrap {
						position:absolute;
						right:0px;
						.btn-modify2 , 
						.btn-remove , 
						.btn-magnifier {
							margin-left:2px;
							float:left;
						}
					}
				}
				.detail-info {
					li {
						text-align:left;
						&:first-child {
							text-align:center;
						}						
						.budget-arrow {
							padding-left:9px;
							margin-right:5px;
						}
					}					
					.location {
						margin-top:20px;
					}
				}
			}			
		}
		td {
			padding-top:13px;
			padding-left:4px;
			&.nth-child-2 {
				
				padding-left:11px;
			}
			.info-data-wrap {
				padding: 40px 5px 0;
				background : #f2f2f2;
				border : 1px solid #f2f2f2;
				position:relative;
				.dim-layer {
					width:100%; 
					height:100%;
					position:absolute;
					top:0px; 
					left:0px; 
					background-color : rgba(0,0,0,0.5);
					text-align:center;
					.btn-refresh {
						position:absolute;
						top:50%;
						left:50%;
						margin:-16px 0 0 -16px;
					}
				}
				.btn-pause {
					position:absolute;
					right:0px;
					top:0px;
				}
				&.bg-white {
					border : 1px solid #f2f2f2;
					background : none;
				}
				li {
					padding:3px 0;
					border-top : 1px solid #bcbcbc;
					&:first-child {
						border-top: 0 none;
					}
				}
			}			
		}
	}	
}