.wrap {
  min-width: 1200px;
}

.header-wrap {
  background-color: #2c4887;
  overflow: hidden;
}

.header {
  position: relative;
}
.header .header-top {
  margin: 0 auto;
  height: 70px;
}
.header .header-top .logo {
  float: left;
  margin: 16px 0 0 20px;
}
.header .header-top .admin-container {
  float: right;
  margin: 40px 20px 0 0;
}
.header .header-top .admin-container li {
  float: left;
  background: url(../images/common/header/bg-division-line.png) no-repeat 0 50%;
  padding: 0 3px;
  color: #b0bdde;
}
.header .header-top .admin-container li:first-child {
  background: none;
}
.header .header-top .admin-container li.user_name {
  color: #e6edff;
  text-decoration: underline;
}
.header .header-top .admin-container li a {
  color: #b0bdde;
}
.header .header-bot {
  margin: 0 auto;
  padding-top: 15px;
  border-top: 1px solid #425c93;
}
.header .header-bot .nav .gnb {
  float: left;
  margin: 6px 0 0 22px;
}
.header .header-bot .nav .gnb li {
  float: left;
  margin-left: 22px;
  border-bottom: 2px solid #3b5998;
}
.header .header-bot .nav .gnb li:first-child {
  margin-left: 0px;
}
.header .header-bot .nav .gnb li a {
  display: block;
  overflow: hidden;
  height: 37px;
  text-indent: -9999em;
  background-image: url(../images/common/header/gnb.png);
  background-repeat: no-repeat;
}
.header .header-bot .nav .gnb .active {
  border-bottom: 2px solid #e8edf8;
}
.header .header-bot .nav .gnb .gDash a {
  width: 105px;
  background-position: 0 0;
}
.header .header-bot .nav .gnb .gDash a:hover {
  background-position: 0 -40px;
}
.header .header-bot .nav .gnb .gDash.active a {
  background-position: 0 -80px;
}
.header .header-bot .nav .gnb .gManage a {
  width: 116px;
  background-position: -110px 0;
}
.header .header-bot .nav .gnb .gManage a:hover {
  background-position: -110px -40px;
}
.header .header-bot .nav .gnb .gManage.active a {
  background-position: -110px -80px;
}
.header .header-bot .nav .gnb .gReports a {
  width: 82px;
  background-position: -230px 0;
}
.header .header-bot .nav .gnb .gReports a:hover {
  background-position: -230px -40px;
}
.header .header-bot .nav .gnb .gReports.active a {
  background-position: -230px -80px;
}
.header .header-bot .nav .gnb .gAccount a {
  width: 86px;
  background-position: -320px 0;
}
.header .header-bot .nav .gnb .gAccount a:hover {
  background-position: -320px -40px;
}
.header .header-bot .nav .gnb .gAccount.active a {
  background-position: -320px -80px;
}
.header .header-bot .nav .gnb .gHelp a {
  width: 57px;
  background-position: -410px 0;
}
.header .header-bot .nav .gnb .gHelp a:hover {
  background-position: -410px -40px;
}
.header .header-bot .nav .gnb .gHelp.active a {
  background-position: -410px -80px;
}
.header .header-bot .nav .gCreate {
  display: inline-block;
  width: 112px;
  height: 28px;
  overflow: hidden;
  background-image: url(../images/common/header/btn_createads_normal.png);
  text-indent: -9999em;
}
.header .header-bot .nav .gCreate:hover {
  background-image: url(../images/common/header/btn_createads_hover.png);
}
.header .header-bot .nav .select-wrap {
  float: right;
  margin-right: 20px;
}
.header .header-bot .nav .select-wrap select {
  width: 198px;
}
.header .header-bot .sub-gnb {
  position: relative;
  height: 39px;
  background: #e8edf8;
  border-bottom: 1px solid #d0d5df;
}
.header .header-bot .sub-gnb > ul {
  height: 40px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  line-height: 40px;
  display: none;
}
.header .header-bot .sub-gnb > ul li {
  float: left;
  padding: 0 5px;
}
.header .header-bot .sub-gnb > ul li:first-child {
  background: none;
}
.header .header-bot .sub-gnb > ul li a {
  color: #818794;
  font-size: 14px;
}
.header .header-bot .sub-gnb > ul li a:hover {
  color: #1b2f59;
}

/* Button Style */
.btn-large {
  padding: 10px 20px;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-tiny {
  padding: 4px 8px;
}

.btn-blue {
  background: #3b5998;
  color: #fff;
  border: 1px solid #3b5998;
}
.btn-blue:hover {
  background-color: #4c70ba;
  border: 1px solid #4c70ba;
}
.btn-blue:active, .btn-blue.active {
  background-color: #2d4373;
  border: 1px solid #2d4373;
}

.btn-gray {
  background: #777777;
  color: #fff;
  border: 1px solid #777777;
}
.btn-gray:hover {
  background-color: #919191;
  border: 1px solid #919191;
}
.btn-gray:active, .btn-gray.active {
  background-color: #5e5e5e;
  border: 1px solid #5e5e5e;
}

.btn-resetpw {
  padding: 5px 30px;
  font-size: 16px;
  font-weight: bold;
}

.btn-target-setting {
  color: #777;
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  padding-left: 3px;
  border: 1px solid #d4d4d4;
  background: #fdfdfd;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmRiZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fdfdfd 0%, #dbdbdb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #dbdbdb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #dbdbdb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdfdfd 0%, #dbdbdb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdfdfd 0%, #dbdbdb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fdfdfd 0%, #dbdbdb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#dbdbdb',GradientType=0 );
  /* IE6-8 */
  width: 101px;
  height: 29px;
}
.btn-target-setting:hover {
  background: #dbdbdb;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGZkZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #dbdbdb 0%, #fdfdfd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbdbdb), color-stop(100%, #fdfdfd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #fdfdfd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dbdbdb 0%, #fdfdfd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dbdbdb 0%, #fdfdfd 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #dbdbdb 0%, #fdfdfd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#fdfdfd',GradientType=0 );
  /* IE6-8 */
}
.btn-target-setting:active {
  position: relative;
  top: 1px;
}

.btn-date {
  font-size: 13px;
  font-weight: bold;
  padding: 7px;
  border: solid 1px #b7b7b7;
  color: #606060;
  background: white;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
  background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
  background: -o-linear-gradient(top, white 0%, gainsboro 100%);
  background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
  background: linear-gradient(to bottom, white 0%, gainsboro 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=0 );
}
.btn-date:hover {
  background: #ededed;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ededed 0%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #ededed 0%, white 100%);
  background: -o-linear-gradient(top, #ededed 0%, white 100%);
  background: -ms-linear-gradient(top, #ededed 0%, white 100%);
  background: linear-gradient(to bottom, #ededed 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
}
.btn-date:active, .btn-date.active {
  color: #999;
  background: white;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
  background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
  background: -o-linear-gradient(top, white 0%, gainsboro 100%);
  background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
  background: linear-gradient(to bottom, white 0%, gainsboro 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=0 );
}

.btn-add {
  width: 151px;
  height: 111px;
  background: url(../images/button/btn-add.png) no-repeat 50% 50%;
  text-indent: -9999em;
  border: 1px dashed #c3c3c3;
}

.btn-modify {
  width: 10px;
  height: 10px;
  background: url(../images/button/btn-modify.png) no-repeat 0 0;
  text-indent: -9999em;
  top: 5px;
  margin-left: 5px;
}

.btn-fullsize {
  width: 15px;
  height: 13px;
  text-indent: -9999em;
  background: url(../images/button/btn-fullscreen.png) no-repeat 0 0;
}

.btn-remove {
  width: 14px;
  height: 14px;
  text-indent: -9999em;
  background: url(../images/button/btn-remove.png) no-repeat 0 0;
}

.btn-modify2 {
  width: 14px;
  height: 14px;
  text-indent: -9999em;
  background: url(../images/button/btn-modify2.png) no-repeat 0 0;
}

.btn-magnifier {
  width: 14px;
  height: 14px;
  text-indent: -9999em;
  background: url(../images/button/btn-magnifier.png) no-repeat 0 0;
}

.btn-info-data {
  width: 67px;
  height: 57px;
  text-indent: -9999em;
  background: url(../images/button/btn-info-data.png) no-repeat 0 0;
}

.btn-pause {
  width: 14px;
  height: 14px;
  text-indent: -9999em;
  background: url(../images/button/btn-pause.png) no-repeat 0 0;
}

.btn-refresh {
  width: 32px;
  height: 32px;
  text-indent: -9999em;
  background: url(../images/button/btn-refresh.png) no-repeat 0 0;
}

.btn-group-pause, .btn-restart {
  border: 1px solid #D5D5D5;
  color: #F68833;
  background: #fff;
  font-weight: 800;
  padding: 4px 8px;
}

.btn-group-pause {
  width: 95px;
}

.btn-restart {
  width: 60px;
}

/* ETC */
.create-ads-intro .sub-title {
  color: #3b5998;
  font-size: 18px;
  font-weight: 800;
}
.create-ads-intro .tab-wrap .tab-list li {
  float: left;
  margin-left: 17px;
}
.create-ads-intro .tab-wrap .tab-list li a {
  display: block;
  width: 202px;
  height: 219px;
  box-sizing: border-box;
  border: 1px solid #ced7e9;
  padding: 20px 10px 0;
}
.create-ads-intro .tab-wrap .tab-list li a:hover {
  background: #e1e2e4;
}
.create-ads-intro .tab-wrap .tab-list li .tab-image-wrap, .create-ads-intro .tab-wrap .tab-list li .tab-term {
  text-align: center;
}
.create-ads-intro .tab-wrap .tab-list li .tab-term {
  font-size: 18px;
  font-weight: 800;
  color: #3b5998;
  letter-spacing: -1px;
  word-spacing: -1px;
  margin-bottom: 15px;
}
.create-ads-intro .tab-wrap .tab-list li .tab-desc {
  font-size: 11px;
  color: #777;
  line-height: 16px;
}
.create-ads-intro .tab-wrap .tab-list li:first-child {
  margin-left: 0;
}
.create-ads-intro .tab-info {
  box-sizing: border-box;
  position: relative;
  margin-top: 10px;
  border: 1px solid #ced7e9;
  width: 860px;
  padding: 40px;
  background-color: #fcfcfc;
}
.create-ads-intro .tab-info .text {
  font-size: 13px;
  color: #777777;
}
.create-ads-intro .tab-info .text .point {
  color: #ff9d4e;
}
.create-ads-intro .tab-info .tab-info-image {
  margin-top: 35px;
  text-align: center;
}
.create-ads-intro .tab-info .arrow {
  position: absolute;
  left: 94px;
  top: -9px;
  width: 13px;
  height: 9px;
  background-image: url(../images/createAds/arrow-tab-info.png);
}
.create-ads-intro .tab-info .tab-info1 {
  display: none;
  display: block;
}
.create-ads-intro .tab-info .tab-info2 {
  display: none;
}
.create-ads-intro .tab-info .tab-info3 {
  display: none;
}
.create-ads-intro .tab-info .tab-info4 {
  display: none;
}

/* Select Box Style */
.selectBox-dropdown {
  min-width: 150px;
  position: relative;
  border: solid 1px #c4c4c4;
  line-height: 2.0;
  text-decoration: none;
  text-align: left;
  color: #000;
  outline: none;
  vertical-align: middle;
  background: #FFF;
  display: inline-block;
  cursor: pointer;
}
.selectBox-dropdown .selectBox-label {
  padding: 2px 8px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.selectBox-dropdown .selectBox-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 100%;
  background: url(../images/select/select-down.png) 50% center no-repeat;
  border-left: solid 1px #BBB;
}

.selectBox-menuShowing .selectBox-arrow {
  background: url(../images/select/select-up.png) 50% center no-repeat;
}

/* Dropdown menu */
.selectBox-dropdown-menu {
  position: absolute;
  z-index: 99999;
  max-height: 200px;
  min-height: 1em;
  border: solid 1px #c4c4c4;
  /* should be the same border width as .selectBox-dropdown */
  background: #FFF;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Inline control */
.selectBox-inline {
  min-width: 150px;
  outline: none;
  border: solid 1px #BBB;
  background: #FFF;
  display: inline-block;
  overflow: auto;
}

.selectBox-inline:focus {
  border-color: #666;
}

/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
  list-style: none;
  display: block;
  cursor: default;
  padding: 0;
  margin: 0;
}

.selectBox-options.selectBox-options-top {
  margin-top: 1px;
}

.selectBox-options LI A {
  line-height: 2.0;
  padding: 0 .5em;
  white-space: nowrap;
  overflow: hidden;
  background: 6px center no-repeat;
  cursor: pointer;
}

.selectBox-options LI.selectBox-hover A {
  background-color: #EEE;
}

.selectBox-options LI.selectBox-disabled A {
  color: #888;
  background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
  background-color: #C8DEF4;
}

.selectBox-options .selectBox-optgroup {
  color: #666;
  background: #EEE;
  font-weight: bold;
  line-height: 1.5;
  padding: 0 .3em;
  white-space: nowrap;
}

/* Disabled state */
.selectBox.selectBox-disabled {
  color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
  opacity: .5;
  filter: alpha(opacity=50);
  border-color: #666;
}

.selectBox-inline.selectBox-disabled {
  color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
  background-color: transparent !important;
}

/* Facebook Login Style */
.fb-login {
  font-size: 15px;
  line-height: 31px;
  color: #fff;
}
.fb-login .login-text-wrap {
  background: #1f9cd0;
  padding: 30px;
  text-align: center;
  width: 600px;
  margin: 0 auto;
}
.fb-login .login-text-wrap p {
  text-align: left;
}
.fb-login .login-text-wrap .btn-facebook-login {
  display: block;
  background-size: cover;
  background-image: url(../images/btn-facebook-login.png);
  width: 193.33333px;
  height: 41.33333px;
  margin: 20px auto 0;
  text-indent: -9999em;
  overflow: hidden;
}
.fb-login .login-text-wrap .btn-facebook-login:active {
  background-image: url(../images/btn-facebook-login-press.png);
}

/* Table Style */
.view-table {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
}
.view-table th {
  color: #fff;
  text-align: center;
  font-weight: bold;
  height: 34px;
  background: url(../images/common/table_bg_sep.png) no-repeat left bottom #7b7977;
}
.view-table th:first-child {
  background: #7b7977;
}
.view-table td {
  border-bottom: 1px solid #c1c1c1;
  font-size: 12px;
  color: #777;
  text-align: center;
  height: 33px;
}
.view-table td .view-table-link {
  color: gray;
  font-weight: bold;
}
.view-table td .view-table-link:hover {
  text-decoration: underline;
}
.view-table td.tdIndex2 {
  text-align: left;
  padding-left: 10px;
}
.view-table td.details {
  padding: 5px 0 5px 10px;
  text-align: left;
}
.view-table td .count_num {
  font-size: 22px;
  font-weight: bold;
  color: #777;
}
.view-table tbody tr:hover {
  background: #dfe4e8 !important;
}
.view-table tbody tr:first-child td {
  border-top: 1px solid #c1c1c1;
}
.view-table tfoot tr {
  background-color: #f9f9f9;
}

.charts-table {
  width: 100%;
  background: #f1f2f6;
}
.charts-table tr:first-child th, .charts-table tr:first-child td {
  border-top: 0 none;
}
.charts-table th {
  height: 44px;
  font-size: 16px;
  color: #3b5998;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.charts-table td {
  padding-left: 12px;
  color: #777777;
  font-size: 13px;
  border-top: 1px solid #fff;
}

.ad-table {
  margin-top: 10px;
  table-layout: fixed;
  word-break: break-all;
}
.ad-table thead th {
  height: 111px;
  vertical-align: top;
  border-bottom: 2px dashed #bcbcbc;
  padding-left: 4px;
  padding-bottom: 13px;
}
.ad-table thead th:first-child {
  padding: 0;
  vertical-align: middle;
  background: none;
  border-right: 2px dashed #bcbcbc;
}
.ad-table thead th .ad-preview-wrap {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 6px;
  background: #dfe3e7;
  overflow: auto;
  color: #565656;
}
.ad-table thead th .ad-preview-wrap .ad-preview-heading {
  position: relative;
  background: url(../images/table/bg-heading.png) repeat-x 0 100%;
  margin-top: 3px;
  height: 19px;
}
.ad-table thead th .ad-preview-wrap .ad-preview-heading button {
  position: absolute;
}
.ad-table thead th .ad-preview-wrap .ad-preview-heading .ad-placement {
  font-size: 9px;
  width: 110px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}
.ad-table thead th .ad-preview-wrap .ad-preview-title {
  text-align: left;
  font-size: 10px;
  font-weight: bold;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image > div {
  position: relative;
  margin: 0 auto;
  border: 1px solid #cfd6dc;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .ad_thumbs {
  position: absolute;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .ad_thumbs img {
  width: 100%;
  height: 100%;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .rhs_ad {
  width: 126px;
  height: 55px;
  background: url(../images/table/ad-table/bg_rhs.png) no-repeat 0 0;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .rhs_ad .ad_thumbs {
  top: 20px;
  left: 6px;
  width: 37px;
  height: 37px;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .desktop_newspeed {
  width: 126px;
  height: 55px;
  background: url(../images/table/ad-table/bg_newspeed.png) no-repeat 0 0;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .desktop_newspeed .ad_thumbs {
  top: 20px;
  left: 27px;
  width: 25px;
  height: 25px;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .sponsor_story1 {
  width: 57px;
  height: 61px;
  background: url(../images/table/ad-table/bg_sponstory_1.png) no-repeat 0 0;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .sponsor_story1 .ad_thumbs {
  top: 29px;
  left: 5px;
  width: 47px;
  height: 17px;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .page_ad {
  width: 126px;
  height: 55px;
  background: url(../images/table/ad-table/bg_pagead.png) no-repeat 0 0;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .page_ad .ad_thumbs {
  top: 21px;
  left: 4px;
  width: 45px;
  height: 26px;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .page_ad_mobile {
  width: 126px;
  height: 55px;
  background: url(../images/table/ad-table/bg_pagead.png) no-repeat 0 0;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .page_ad_mobile .ad_thumbs {
  top: 20px;
  left: 27px;
  width: 25px;
  height: 25px;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .post_engage {
  width: 76px;
  height: 61px;
  background: url(../images/table/ad-table/bg_post_engage.png) no-repeat 0 0;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .post_engage .ad_thumbs {
  top: 23px;
  left: 21px;
  width: 51px;
  height: 34px;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .post_ad {
  width: 55px;
  height: 61px;
  background: url(../images/table/ad-table/bg_post_ad.png) no-repeat 0 0;
}
.ad-table thead th .ad-preview-wrap .ad-preview-image .post_ad .ad_thumbs {
  top: 21px;
  left: 4px;
  width: 45px;
  height: 26px;
}
.ad-table thead th.nth-child-2 {
  padding-left: 11px;
}
.ad-table thead th.last-child {
  padding-left: 10px;
  border-bottom: 0 none;
}
.ad-table thead th.last-child .ad-preview-wrap {
  background: none;
  border: 1px dashed gray;
}
.ad-table tbody th,
.ad-table tbody td {
  vertical-align: top;
}
.ad-table tbody .last-child th {
  padding: 0;
  vertical-align: middle;
  height: 250px;
}
.ad-table tbody th {
  padding-top: 40px;
  border-right: 2px dashed #bcbcbc;
}
.ad-table tbody th .target-group-info-wrap {
  position: relative;
  padding: 0 10px;
}
.ad-table tbody th .target-group-info-wrap .background-wrap {
  position: relative;
  height: 65px;
  margin-bottom: 5px;
  background: url(../images/table/ico_man1.png) no-repeat 50% 8px;
  text-align: center;
}
.ad-table tbody th .target-group-info-wrap .background-wrap .btn-wrap {
  position: absolute;
  right: 0px;
}
.ad-table tbody th .target-group-info-wrap .background-wrap .btn-wrap .btn-modify2,
.ad-table tbody th .target-group-info-wrap .background-wrap .btn-wrap .btn-remove,
.ad-table tbody th .target-group-info-wrap .background-wrap .btn-wrap .btn-magnifier {
  margin-left: 2px;
  float: left;
}
.ad-table tbody th .target-group-info-wrap .detail-info li {
  text-align: left;
}
.ad-table tbody th .target-group-info-wrap .detail-info li:first-child {
  text-align: center;
}
.ad-table tbody th .target-group-info-wrap .detail-info li .budget-arrow {
  padding-left: 9px;
  margin-right: 5px;
}
.ad-table tbody th .target-group-info-wrap .detail-info .location {
  margin-top: 20px;
}
.ad-table tbody td {
  padding-top: 13px;
  padding-left: 4px;
}
.ad-table tbody td.nth-child-2 {
  padding-left: 11px;
}
.ad-table tbody td .info-data-wrap {
  padding: 40px 5px 0;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  position: relative;
}
.ad-table tbody td .info-data-wrap .dim-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.ad-table tbody td .info-data-wrap .dim-layer .btn-refresh {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
.ad-table tbody td .info-data-wrap .btn-pause {
  position: absolute;
  right: 0px;
  top: 0px;
}
.ad-table tbody td .info-data-wrap.bg-white {
  border: 1px solid #f2f2f2;
  background: none;
}
.ad-table tbody td .info-data-wrap li {
  padding: 3px 0;
  border-top: 1px solid #bcbcbc;
}
.ad-table tbody td .info-data-wrap li:first-child {
  border-top: 0 none;
}

/*# sourceMappingURL=combine.css.map */
