.view-table {
	width : 100%;
	table-layout:fixed;
	word-break:break-all;
	th {
		color : #fff;
		text-align : center;
		font-weight:bold;
		height:34px;
		background: url(../images/common/table_bg_sep.png) no-repeat left bottom #7b7977;
		&:first-child {
			background :#7b7977;
		}
	}
	td {
		border-bottom:1px solid #c1c1c1;
		font-size:12px;
		
		color : #777;
		text-align:center;
		height:33px;
		&.tdIndex2 {
			text-align:left;
			padding-left:10px;
		}
		&.details {
			padding:5px 0 5px 10px;
			text-align:left;
		}
		.count_num {
			font-size:22px;
			font-weight:bold;
			color : #777;
		}
	}
	tbody {
		tr {
			&:hover {				
				background : (#cbd0d3 * 1.1) !important;
			}
			&:first-child {
				td {border-top:1px solid #c1c1c1;}
			}
		}
	}
	tfoot {
		tr {
			background-color : #f9f9f9;
		}
	}
}